/*
ethan (average-kirigiri-enjoyer), WesleyHAS, Stavros Panagiotopoulos (stavrospana)
SCS Boot Camp Project 1 Group 1 - Personal Information Hub
Created 2023/08/15
Last Edited 2023/08/25
*/


/* ETHAN CSS */

/* NOTE; MAKE SURE TO GO OVER AND CONSOLIDATE ALL STYLES FOR BUTTONS
   & INPUTS IN THIS SECTION TO SEE WHAT ENDS UP BEING APPLIED TO ALL */

/* sets all elements to include padding & border in element size */
*
{
  box-sizing: border-box;
}

#event-planner-content
{
  width: 80%;
  margin: 0px 10%;
}

#month-year
{
  display: flex;
  justify-content: center;
}

#button-wrapper
{
  display: flex;
  justify-content: center;
}

#button-wrapper button
{
  margin: 10px 5px 10px 5px;
  padding: 5px 20px;
  border-radius: 7px;
  border: none;
}

/* displays names of each day of the week horizontally in-line */
#day-names div
{
  width: 14.28%;
  text-align: center;
  display: inline;
  float: left;
}

/* hides small whitespace between each event block */
.event-row
{
  outline: solid 1px mediumslateblue;
  font-size: 0px;
}

/* displays event blocks horizontally in-line within each week */
.event-block
{
  width: 14.28%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  outline: solid 1px mediumspringgreen;
}

.outside-month
{
  color: #bbbbbb;
}

.events div
{
  width: 94%;
  margin: 0px 3% 0px 3%;
  padding: 3px 0px;
}

.events div li
{
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: visible;
  text-overflow: clip;
  width: 90%;
}

.events.monthly div
{
  width: 94%;
  padding: 0px;
}

.events.monthly div li
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1.2px;
}

.events div button
{
  font-size: 12px;
  padding: 2px 0px;
  border-radius: 3px;
  border: none;
  float: right;
  width: 10%;
}

.date
{
  text-align: center;
}

/* displays month name in middle of parent block */
.month-name
{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.month-row
{
  display: flex;
}

/* displays four months in each row of yearly event view */
.month-block
{
  width: 25%;
  padding-bottom: 10px;
}

.date-row
{
  display: flex;
  margin: 1% 3%;
}

/* each day in yearly view month blocks takes up 1 / 7th of month width */
.date-row div
{
  width: 14.28%;
  padding-top: 10px;
  text-align: center;
}

/* Stavros CSS */

body, h1, h2, h3, p, ul, li {

  margin: 0;
  padding: 0;
}


body {
  color: #fff;
  font-family: Raleway;
  background-color: #232323;
}




.container {
    max-width:100%;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #232323;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-end;
    min-height: 100vh;
   
  
}


.video-container {

    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
}

.video-box {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #5900ff;
    border-radius: 5px;
    overflow:hidden;
  
}

.video-box iframe {
  width: 100%;
  height: auto;
}

.input-container {

  display:flex;
  align-items: center;
  margin-top: 10px;
  
}

#channelIdInput {
font-family: Raleway;
font-size:10px x-small;
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #5900ff;
  color: #fff;
  background-color: #232323;
   border-radius: 0 5px 5px 0;
 

}

#fetchButton {

  padding: 5px 10px;
  background-color: #5900ff;
  color: #fff;
  border:none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#fetchButton:hover {

  background-color: #6c27ee
}