/*
ethan (average-kirigiri-enjoyer), WesleyHAS, Stavros Panagiotopoulos (stavrospana)
SCS Boot Camp Project 1 Group 1 - Personal Information Hub
Created 2023/08/15
Last Edited 2023/08/26
*/

/* COMMON CSS */

/* defines primary colour scheme */
:root
{
  --desaturated-royal-blue: #262641; /* page background colour */
  --dark-dsr-blue: #1e1e30; /* main content background colour */
  --darker-dsr-blue: #191926; /* button & input background colour */
  --light-dsr-blue: #44446e; /* highlight colour (e.g. button hover) */
  --lighter-dsr-blue: #b1b1e4; /* strong highlight colour (e.g. input focus) */
}

/* changes base font settings and page background colour */
body
{
  color: #ffffff;
  font-family: Raleway;
  background-color: var(--desaturated-royal-blue);
}

/* defines default display settings for buttons */
button
{
  background-color: var(--darker-dsr-blue);
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* defines default button hover animation */
button:hover
{
  background-color: var(--light-dsr-blue);
  transition: 0.25s;
}

/* defines default display settings for inputs */
input
{
  font-size: 150%;
  background-color: var(--darker-dsr-blue);
  padding: 10px;
  border-radius: 10px;
}

/* defines default input focus outline */
input:focus
{
  outline: solid 3px var(--lighter-dsr-blue);
}

/* defines width of main page content & centers it */
.main-content-section
{
  width: 80%;
  margin: 15px 10%;
}

/* increases main content width at moderate screen sizes */
@media screen and (max-width: 1080px)
{
  .main-content-section
  {
    width: 90%;
    margin: 15px 5%;
  }
}

/* increases main content width at small screen sizes */
@media screen and (max-width: 720px)
{
  .main-content-section
  {
    width: 96%;
    margin: 15px 2%;
  }
}

/* WESLEY CSS */

.live-update-container {
  display: flex;
  justify-content: center;
  font-size: 300%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.date-container, .time-container {
  background-color: var(--darker-dsr-blue);
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 40px;
}

/* decreases live date & time tracker size at moderate screen sizes */
@media screen and (max-width: 880px)
{
  .live-update-container
  {
    font-size: 250%;
    margin-bottom: 15px;
  }
}

/* decreases live date & time tracker size at small screen sizes */
@media screen and (max-width: 780px)
{
  .live-update-container
  {
    font-size: 225%;
  }
  .date-container, .time-container {
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
  }
}

/* decreases live date & time tracker size at very small screen sizes */
@media screen and (max-width: 600px)
{
  .live-update-container
  {
    font-size: 185%;
  }
}

#weather-container {
  text-align: center;
  border-radius: 3px;
  border-bottom: solid 2px var(--light-dsr-blue);
}

.weather-style-container {
  font-size: 0px;
  display: none;
}

.forecast-sections {
  box-sizing: border-box;
  white-space: nowrap;
  width: 100%;
}

.first-box-container {
  display: flex;
  font-size: 16px;
  border-top: solid 2px var(--light-dsr-blue);
  border-right: solid 2px var(--light-dsr-blue);
  border-bottom: solid 2px var(--light-dsr-blue);
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: var(--darker-dsr-blue);
  border-radius: 3px;
}

#current-day-weather
{
  width: 20%;
  padding-top: 8px;
  border-right: solid 2px var(--light-dsr-blue);
  border-left: solid 2px var(--light-dsr-blue);
}

#next-hours-weather
{
  width: 80%;
  display: flex;
}

.hourly-forecast {
  box-sizing: border-box;
  white-space: nowrap;
  padding: 5px 10px 25px 10px;
  border-right: solid 2px var(--light-dsr-blue);
  border-bottom: solid 2px var(--light-dsr-blue);
}

.city-name
{
  font-size: 130%;
}

.weather-time-marker
{
  font-size: 120%;
}

.today-icon
{
  margin: 0px 31%;
}

.weekly-icon
{
  margin: 0px 35%;
}

.weekly-weather-style {
  display: flex;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  border-radius: 3px;
  border-top: solid 2px var(--light-dsr-blue);
  border-left: solid 2px var(--light-dsr-blue);
  background-color: var(--darker-dsr-blue);
}

.daily-forecast
{
  border-right: solid 2px var(--light-dsr-blue);
  padding: 5px 10px 15px 10px;
}

/* adds borders which wrap around scroll bar of weekly forecast when it appears */
@media screen and (max-width: 1390px)
{
  .weekly-weather-style {
    border-right: solid 2px var(--light-dsr-blue);
  }
  
  .daily-forecast
  {
    border-bottom: solid 2px var(--light-dsr-blue);
  }
}

.weather-buttons-style {
  background-color: var(--darker-dsr-blue);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 150%;
  padding: 10px 15px;
  margin-right: 1%;
}

.weather-input-style {
  background-color: var(--darker-dsr-blue);
  border-radius: 10px;
  font-size: 150%;
  padding: 10px;
  margin-right: 1%;
}

/* adjust weather detail sizes at moderate screen sizes */
@media screen and (max-width: 960px)
{
  #current-day-weather
  {
    width: 30%;
  }
  #next-hours-weather
  {
    width: 70%;
    font-size: 14px;
  }
  .forecast-sections
  {
    font-size: 14px;
  }
}

/* shrink city search input & buttons at small screen sizes */
@media screen and (max-width: 720px)
{
  .weather-buttons-style {
    font-size: 125%;
    padding: 10px 8px; 
  }
  .weather-input-style {
    font-size: 125%;
    padding-right: 5px; 
  }
}

/* adjusts various weather dashboard elements at very small screen sizes */
@media screen and (max-width: 600px)
{
  .weather-buttons-style {
    font-size: 100%;
  }
  .weather-input-style {
    font-size: 100%;
  }
  #next-hours-weather
  {
    font-size: 12px;
  }
  .forecast-sections
  {
    font-size: 12px;
  }
  .weather-time-marker
  {
    font-size: 125%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-dsr-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-dsr-blue); /* Adjust the handle color for visibility */
  border-radius: 5px; /* Rounded handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lighter-dsr-blue);
}

/* changes scrollbar colour for poor firefox users like me (webkit isn't supported) */
body {
  scrollbar-color: var(--light-dsr-blue) var(--dark-dsr-blue);
}

/* ETHAN CSS */

/* sets all elements to include padding & border in element size */
*
{
  box-sizing: border-box;
}

/* added hover effect to buttons in event planner section */
#event-planner-content button:hover
{
  background-color: var(--light-dsr-blue);
  transition: 0.25s;
}

/* displays event creator section as a flex item */
#event-creator
{
  display: flex;
}

/* defines display settings for inputs & button used for creating events */
#event-creator > *
{
  margin-right: 2%;
  font-size: 150%;
  background-color: var(--darker-dsr-blue);
  padding: 10px;
  border-radius: 10px;
}

/* defines width of event name input */
#event-input
{
  width: 55%;
}

/* defines width & center-aligns text of event date picker */
#event-date-picker
{
  width: 15%;
  text-align: center;
}

/* defines width & increases padding of add event button */
#event-creator button
{
  width: 15%;
  padding: 10px;
}

/* changes size & width of various elements at large-moderate sizes */
@media screen and (max-width: 1280px)
{
  #month-year
  {
    font-size: 150%;
  }
  #event-date-picker
  {
    width: 18%;
  }
  #event-creator button
  {
    width: 20%;
  }
}

/* changes size & width of various elements at moderate sizes */
@media screen and (max-width: 1080px)
{
  #event-creator > *
  {
    font-size: 125%;
  }
  #event-creator button
  {
    width: 25%;
  }
  #event-date-picker
  {
    width: 22%;
  }
  .date-row div
  {
    font-size: 14px;
  }
}

/* changes size & width of various elements at small screen sizes */
@media screen and (max-width: 720px)
{
  #event-creator > *
  {
    font-size: 100%;
  }
  #event-input
  {
    width: 41%;
  }
  #event-date-picker
  {
    width: 28%;
  }
  #event-creator button
  {
    width: 29%;
  }
  .date-row div
  {
    font-size: 11px;
  }
  .month-name
  {
    font-size: 14px;
  }
  .events div li
  {
    font-size: 11px;
  }
}

/* defines display settings for month / year header above calendar */
#month-year
{
  display: flex;
  justify-content: center;
  font-size: 225%;
  padding: 5px;
  padding-top: 10px;
  font-weight: bold;
}

/* zoom & traverse buttons are centered above the calendar */
#button-wrapper
{
  display: flex;
  justify-content: center;
}

/* defines display settings for zoom & traverse buttons */
#button-wrapper button
{
  margin: 10px 5px 10px 5px;
  padding: 5px 25px 7px 25px;
  background-color: var(--darker-dsr-blue);
  border-radius: 7px;
  border: none;
}

/* defines borders and background colour for weekly-monthly calendar */
#weekly-monthly-calendar
{
  border-top: solid 2px var(--light-dsr-blue);
  border-left: solid 2px var(--light-dsr-blue);
  border-bottom: solid 2px var(--light-dsr-blue);
  background-color: var(--dark-dsr-blue);
}

/* displays names of each day of the week horizontally in-line */
#day-names div
{
  width: 14.285%;
  font-size: 110%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
  float: left;
  border-right: solid 2px var(--light-dsr-blue);
  background-color: var(--darker-dsr-blue);
}

/* hides small whitespace between each event block */
.event-row
{
  font-size: 0px;
}

/* displays event blocks horizontally in-line within each week */
.event-block
{
  width: 14.285%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border-top: solid 2px var(--light-dsr-blue);
  border-right: solid 2px var(--light-dsr-blue);
}

/* in monthly view, days outside month currently being viewed have their text made gray */
.outside-month
{
  color: #555555;
}

/* defines display settings for date number at the top of each day block */
.date
{
  background-color: var(--darker-dsr-blue);
  text-align: center;
  font-size: 110%;
  padding: 2px 0px 5px 0px;
}

/* defines display settings event entries in each day block */
.events div
{
  width: 92%;
  margin: 4px 4%;
  padding: 1px 1px 0px 1px;
  border-radius: 8px;
  background-color: var(--darker-dsr-blue);
}

/* sets height of event entries in each day block while in monthly view */
.events.monthly div
{
  height: 27px;
}

/* defines display settings for event text in each event entry */
.events div li
{
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: visible;
  text-overflow: clip;
  padding-left: 2px;
  padding-bottom: 2px;
  width: 86%;
  margin-left: 2%;
}

/* event text is limited to one line & cuts off with an ellipsis if too long in monthly view */
.events.monthly div li
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* defines display settings for 'X' buttons attached to each event entry */
.events div button
{
  font-size: 12px;
  margin-top: 2.5px;
  margin-right: 2%;
  border-radius: 5px;
  padding-top: 1px;
  padding-left: 1px;
  border: none;
  float: right;
  width: 10%;
  vertical-align: middle;
  background-color: var(--desaturated-royal-blue);
}

#yearly-calendar
{
  border-right: solid 2px var(--light-dsr-blue);
  border-left: solid 2px var(--light-dsr-blue);
  border-bottom: solid 2px var(--light-dsr-blue);
  border-radius: 3px;
  background-color: var(--dark-dsr-blue);
}

/* displays month name in middle of parent block */
.month-name
{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 2px var(--light-dsr-blue);
  border-bottom: solid 2px var(--light-dsr-blue);
  background-color: var(--darker-dsr-blue);
}

.month-row
{
  display: flex;
}

/* displays four months in each row of yearly event view */
.month-block
{
  width: 25%;
  padding-bottom: 10px;
}

.date-row
{
  display: flex;
  margin: 1% 3%;
}

/* each day in yearly view month blocks takes up 1 / 7th of month width */
.date-row div
{
  width: 14.285%;
  padding-top: 4px;
  padding-bottom: 7px;
  text-align: center;
}

.has-event
{
  color: var(--lighter-dsr-blue);
  background-color: var(--light-dsr-blue);
}

/* Stavros CSS */


body, h1, h2, h3, p, ul, li {

  margin: 0;
  padding: 0;
}



.container {
    max-width:100%;
    border-radius: 15px;
    margin-top: 15px;
    background-color: var(--desaturated-royal-blue);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-end;
   
  
}



.video-container {

    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}



.video-box {

  width: 18%;
    margin-right: 2%;
    margin-bottom: 7px;
    border-radius: 10px;
    overflow:hidden;
}

/* splits videos onto two rows at small screen sizes */
@media screen and (max-width: 720px)
{
  .video-box {

    width: 31%;
  }
}

.video-box iframe {
  width: 100%;
  image-resolution:inherit;
  height: auto;
}

.input-container {

  display:flex;
  align-items: center;
  margin-top: 10px;
  
}

#channelIdInput {
font-style: Raleway;
font-size:150%;
  flex-grow: 1;
  padding: 10px;
  margin-right: 1%;
  color: #fff;
  background-color:var(--darker-dsr-blue);

}

#fetchButton {
  font-style: Raleway;
  font-size:150%;
  padding: 10px 30px;
  background-color:var(--darker-dsr-blue);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

#fetchButton:hover {

  background-color: var(--light-dsr-blue);
  transition: 0.25s;

}

/* shrinks channel ID input & fetch videos button at small window sizes*/
@media screen and (max-width: 600px)
{
  #channelIdInput {
    font-size:125%;
    padding: 8px;
    width: 64%;
  }
  #fetchButton {
    font-size:125%;
    padding: 8px;
  }
}