/*
ethan (average-kirigiri-enjoyer), WesleyHAS, Stavros Panagiotopoulos (stavrospana)
SCS Boot Camp Project 1 Group 1 - Personal Information Hub
Created 2023/08/15
Last Edited 2023/08/25
*/

/* COMMON CSS */

/* defines primary colour scheme */
:root
{
  --desaturated-royal-blue: #262641; /* page background colour */
  --dark-dsr-blue: #1e1e30; /* main content background colour */
  --darker-dsr-blue: #191926; /* button & input background colour */
  --light-dsr-blue: #44446e; /* highlight colour (e.g. button hover) */
  --lighter-dsr-blue: #b1b1e4; /* strong highlight colour (e.g. input focus) */
}

/* changes base font settings and page background colour */
body
{
  color: #ffffff;
  font-family: Raleway;
  background-color: var(--desaturated-royal-blue);
}

/* defines default display settings for buttons */
button
{
  background-color: var(--darker-dsr-blue);
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* defines default button hover animation */
button:hover
{
  background-color: var(--light-dsr-blue);
  transition: 0.25s;
}

/* defines default display settings for inputs */
input
{
  font-size: 150%;
  background-color: var(--darker-dsr-blue);
  padding: 10px;
  border-radius: 10px;
}

/* defines default input focus outline */
input:focus
{
  outline: solid 3px var(--lighter-dsr-blue);
}

/* defines width of main page content & centers it */
.main-content-section
{
  width: 80%;
  margin: 15px 10%;
 
}

/* WESLEY CSS */

.weather-style-container {
  /* display: flex; */
  display: block;
  font-size: 0px;
}

.hourly-forecast {
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
}

.forecast-sections, .weekly-weather-style {
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
}

.weather-buttons-style {
  background-color: var(--darker-dsr-blue);
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.weather-input-style {
  font-size: 150%;
  background-color: var(--darker-dsr-blue);
  padding: 10px;
  border-radius: 10px;
  /* margin-top: 20px; */
}
/*
border: solid 2px var(--light-dsr-blue);
background-color: var(--dark-dsr-blue);
*/

/* ETHAN CSS */

/* NOTE; MAKE SURE TO GO OVER AND CONSOLIDATE ALL STYLES FOR BUTTONS
   & INPUTS IN THIS SECTION TO SEE WHAT ENDS UP BEING APPLIED TO ALL */

/* sets all elements to include padding & border in element size */
*
{
  box-sizing: border-box;
}

#event-planner-content button:hover
{
  background-color: var(--light-dsr-blue);
  transition: 0.25s;
}

#event-creator > *
{
  margin-right: 1%;
  font-size: 150%;
  background-color: var(--darker-dsr-blue);
  padding: 10px;
  border-radius: 10px;
}

#event-input
{
  width: 55%;
}

#event-date-picker
{
  width: 15%;
  text-align: center;
}

#event-creator button
{
  width: 15%;
  padding: 10px;
}

#month-year
{
  display: flex;
  justify-content: center;
  font-size: 225%;
  padding: 10px;
  padding-top: 20px;
  font-weight: bold;
}

#button-wrapper
{
  display: flex;
  justify-content: center;
}

#button-wrapper button
{
  margin: 10px 5px 10px 5px;
  padding: 5px 25px 7px 25px;
  background-color: var(--darker-dsr-blue);
  border-radius: 7px;
  border: none;
}

#weekly-monthly-calendar
{
  border-top: solid 2px var(--light-dsr-blue);
  border-left: solid 2px var(--light-dsr-blue);
  border-bottom: solid 2px var(--light-dsr-blue);
  background-color: var(--dark-dsr-blue);
}

/* displays names of each day of the week horizontally in-line */
#day-names div
{
  width: 14.2859%;
  font-size: 110%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
  float: left;
  border-right: solid 2px var(--light-dsr-blue);
  background-color: var(--darker-dsr-blue);
}

/* hides small whitespace between each event block */
.event-row
{
  font-size: 0px;
}

/* displays event blocks horizontally in-line within each week */
.event-block
{
  width: 14.2859%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border-top: solid 2px var(--light-dsr-blue);
  border-right: solid 2px var(--light-dsr-blue);
}

.outside-month
{
  color: #555555;
}

.date
{
  background-color: var(--darker-dsr-blue);
  text-align: center;
  font-size: 110%;
  padding: 2px 0px 5px 0px;
}

.events div
{
  width: 92%;
  margin: 4px 4%;
  border-radius: 8px;
  background-color: var(--darker-dsr-blue);
}

.events div li
{
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: visible;
  text-overflow: clip;
  width: 86.5%;
  margin-left: 2%;
}

.events.monthly div
{
  height: 24px;
  padding: 1px;
}

.events.monthly div li
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.events div button
{
  font-size: 12px;
  margin-right: 1.5%;
  border-radius: 5px;
  border: none;
  float: right;
  width: 10%;
  vertical-align: middle;
  background-color: var(--desaturated-royal-blue);
}

#yearly-calendar
{
  border-right: solid 2px var(--light-dsr-blue);
  border-left: solid 2px var(--light-dsr-blue);
  border-bottom: solid 2px var(--light-dsr-blue);
  border-radius: 3px;
  background-color: var(--dark-dsr-blue);
}

/* displays month name in middle of parent block */
.month-name
{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 2px var(--light-dsr-blue);
  border-bottom: solid 2px var(--light-dsr-blue);
  background-color: var(--darker-dsr-blue);
}

.month-row
{
  display: flex;
}

/* displays four months in each row of yearly event view */
.month-block
{
  width: 25%;
  padding-bottom: 10px;
}

.date-row
{
  display: flex;
  margin: 1% 3%;
}

/* each day in yearly view month blocks takes up 1 / 7th of month width */
.date-row div
{
  width: 14.285%;
  padding-top: 4px;
  padding-bottom: 7px;
  text-align: center;
}

.has-event
{
  color: var(--lighter-dsr-blue);
  background-color: var(--light-dsr-blue);
}

/* Stavros CSS */


body, h1, h2, h3, p, ul, li {

  margin: 0;
  padding: 0;
}



.container {
    max-width:100%;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--desaturated-royal-blue);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-end;
  
   
  
}



.video-container {

    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 0;
}



.video-box {

  width: calc(19.3333333333%);
    margin-bottom: 1px;
    margin-right:10px;
    border-radius: 3px;
    overflow:hidden;

}

.video-box iframe {
  width: 100%;
  image-resolution:inherit;
  height: auto;
}

.input-container {

  display:flex;
  align-items: center;
  margin-top: 10px;
  
}

#channelIdInput {
font-style: Raleway;
font-size:150%;
  flex-grow: 1;
  padding: 10px;
  color: #fff;
  background-color:var(--darker-dsr-blue);

}

#fetchButton {
  font-style: Raleway;
  font-size:150%;
  padding: 10px;
  background-color:var(--darker-dsr-blue);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

#fetchButton:hover {

  background-color: var(--light-dsr-blue);
  transition: 0.25s;

}